<p>Un compte existe avec cette adresse e-mail, mais {{ enabled ? "vous n'avez pas cliqué sur le lien de vérification dans le mail reçu lors de l'inscription" : "il a été désactivé" }}.</p>
<p>Pour plus d'informations, veuillez nous contacter par mail à <a href="mailto:{{ contact_email }}">{{ contact_email }}</a>.</p>